.contacts {
    min-height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.maindiv {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 1rem;
    background: #ff00001f;
    margin: 1rem;
    border-radius: 1rem;
}

.maindiv h3 {
    text-align: center;
    color: white;
    margin: 0.4rem auto;
    font-size: 2rem;
    border-bottom: 2px solid yellow;
    width: 40%;
}

.forms {
    display: flex;
    flex-direction: column;
}

.forms input,
.forms textarea {
    margin: 0.4rem;
    /* padding: 1rem; */
    padding: 0.5rem 0.7rem;
    border-radius: 0.5rem;
    border: none;
    font-size: 1.2rem;
}

textarea {
    resize: none;
    outline: none;
}

textarea:focus,
.forms input:focus {
    border: none;
    outline: none;
}

.messegebtn {
    display: flex;
    justify-content: center;
}

#sendMessege {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    position: relative;
    width: 40%;
    padding: 0 20px;
    font-size: 18px;
    text-transform: uppercase;
    border: 0;
    box-shadow: hsl(210deg 87% 36%) 0px 7px 0px 0px;
    background-color: hsl(210deg 100% 44%);
    border-radius: 12px;
    overflow: hidden;
    transition: 31ms cubic-bezier(.5, .7, .4, 1);
}

#sendMessege:before {
    content: attr(alt);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    inset: 0;
    font-size: 15px;
    font-weight: bold;
    color: white;
    letter-spacing: 4px;
    opacity: 1;
}

#sendMessege:active {
    box-shadow: none;
    transform: translateY(7px);
    transition: 35ms cubic-bezier(.5, .7, .4, 1);
}

#sendMessege:hover:before {
    transition: all .0s;
    transform: translateY(100%);
    opacity: 0;
}

#sendMessege i {
    color: white;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 4px;
    font-style: normal;
    transition: all 2s ease;
    transform: translateY(-20px);
    opacity: 0;
}

#sendMessege:hover i {
    transition: all .2s ease;
    transform: translateY(0px);
    opacity: 1;
}

#sendMessege:hover i:nth-child(1) {
    transition-delay: 0.045s;
}

#sendMessege:hover i:nth-child(2) {
    transition-delay: calc(0.045s * 3);
}

#sendMessege:hover i:nth-child(3) {
    transition-delay: calc(0.045s * 4);
}

#sendMessege:hover i:nth-child(4) {
    transition-delay: calc(0.045s * 5);
}

#sendMessege:hover i:nth-child(6) {
    transition-delay: calc(0.045s * 6);
}

#sendMessege:hover i:nth-child(7) {
    transition-delay: calc(0.045s * 7);
}

#sendMessege:hover i:nth-child(8) {
    transition-delay: calc(0.045s * 8);
}

#sendMessege:hover i:nth-child(9) {
    transition-delay: calc(0.045s * 9);
}

#sendMessege:hover i:nth-child(10) {
    transition-delay: calc(0.045s * 10);
}

#sendMessege:hover i:nth-child(11) {
    transition-delay: calc(0.045s * 11);
}

#sendMessege:hover i:nth-child(12) {
    transition-delay: calc(0.045s * 12);
}

@media screen and (max-width: 500px) {
    .maindiv {
        width: 90%;
    }

    #sendMessege {
        width: 80%;
    }
}