@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');

.thirdSection {
    min-height: 80vh;
    padding: 2rem;
    width: 100%;
}

.knowme {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    font-weight: 800;
}

.me {
    border-bottom: 3px solid rgb(209, 203, 203);
}

.descriptions {
    width: 70%;
    background: #00000021;
    margin: 1rem auto;
    border-radius: 0.6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}

.title {
    font-size: 2rem;
    font-weight: 900;
    margin: 2rem;
}

.name {
    color: #1b229b;
}

.font {
    font-family: 'Crimson Text', serif;
    color: white;
}

.resume {
    width: 70%;
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 0.4rem;
    background: #ffe4c482;
}

.resume:hover {
    background: #00000021;
}

.nameSection {
    font-size: 1.2rem;
    color: currentcolor;
}

#downloadBtn {
    --color: #560bad;
    font-family: inherit;
    display: inline-block;
    width: 8em;
    height: 2.6em;
    line-height: 2.5em;
    margin: 20px;
    position: relative;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color .5s;
    z-index: 1;
    font-size: 17px;
    border-radius: 6px;
    font-weight: 500;
    color: var(--color);
}

#downloadBtn:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: #560bad;
    height: 150px;
    width: 200px;
    border-radius: 50%;
}

#downloadBtn:hover {
    color: #fff;
    cursor: pointer;
}

#downloadBtn:hover a {
    color: white;
}

#downloadBtn:before {
    top: 100%;
    left: 100%;
    transition: all .7s;
}

#downloadBtn:hover:before {
    top: -30px;
    left: -30px;
}

#downloadBtn:active:before {
    background: #3a0ca3;
    /* transition: background 0s; */
}

#downloadBtn a {
    color: #3a0ca3;
    text-decoration: none;
}

#downloadBtn a:hover {
    color: white;
}

.projectsComplete {
    width: 80%;
    margin: 2rem auto;
    display: flex;
    justify-content: space-around;
}

.first {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    border-right: 2px solid #646161;
}

.first:hover {
    border-radius: 0.5rem;
    background: #838181;
    color: white;
    cursor: pointer;
}

.passion {
    color: yellow;
}

@media screen and (max-width: 500px) {
    .projectsComplete {
        flex-direction: column;
        align-items: center;
    }

    .first {
        width: 80%;
        margin: 1rem;
        background: #9f9f9f;
        border-radius: 0.5rem;
    }

    .descriptions {
        width: 100%;
    }

    .resume {
        width: 100%;
    }
}