.secondSection {
    background: cadetblue;
    display: flex;
    width: 100%;
    min-height: 70vh;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.skillhead h2 {
    color: white;
    font-size: 2.8rem
}

.secondofSkill {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.fskill {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.4rem;
}

.what {
    color: wheat;
    font-size: 1.6rem;
    width: 70%;
    justify-content: space-between;
}

.img {
    width: 30%;
    padding: 1rem;
}

.showSkills {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: radial-gradient(black, #00000024);
    border-radius: 0.4rem;
    padding: 1rem;
}

.what {
    display: flex;
    justify-content: space-between;
}

.howMuch {
    width: 70%;
}

.howMuch input {
    width: 100%;
}

.range {
    -webkit-appearance: none;
    outline: none;
    border-radius: 10px;
    box-shadow: 3px 3px 6px #000, inset 1px 1px 1px #909090;
    background: linear-gradient(90deg, #335bf4 0%, #2ae9c9 100%);
}

.range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: rgb(20, 20, 20);
    border-radius: 50%;
}


.howMuch input:hover {
    cursor: pointer;
}

.img img {
    width: 100%;
    border-radius: 1rem;
    height: 100%;
}

@media screen and (max-width: 500px) {
    .secondofSkill {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    .secondSection {
        justify-content: center;
        min-height: 60vh;
        gap: 2rem;
    }

    .img {
        width: 80%;
    }

    .showSkills {
        width: 90%;
    }
}